.draggable 
{
    position:absolute;
    cursor: pointer;
}

body {
    user-select: none;
}

.page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#day
{
    padding: 15px;
    z-index: 9999999;
}

